
*.xccheckout

Photos.xcodeproj/project.xcworkspace/xcuserdata/vasi.xcuserdatad/UserInterfaceState.xcuserstate

Photos.xcodeproj/project.xcworkspace/xcuserdata/vasi.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
